.card-titulo {
font-size:  30px;
}
.card-texto {
font-size:  15px ;
}

.card-imagem {
    border: solid 1px #000;
    border-radius: 25x;
    width: 16rem;
    height: 150px;
    margin-top: 5px;
    box-shadow: 2px 2px #000;
}



